.hero-container {
    position: relative;
    /* background: url('') center center/cover no-repeat; */
    height: 80vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* background: #7F00FF; 
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  
    background: linear-gradient(to right, #E100FF, #7F00FF);   */
    text-align: center;
    padding: 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.313);
  }
  
  .hero-container h1 {
    font-size: 4rem; 
    margin-bottom: 0.5rem;
  }
  
  .hero-container button {
    font-size: 1.5rem; 
    margin-bottom: 0.25rem;
    padding: 10px 20px;
    /* background-color: #007bff;  */
    background-color: white;
    color: #7F00FF; 
    border: none; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer; 
  }
  
  .hero-container button:hover {
    /* background-color: #0056b3;  */
    background-color: #e3d3f2;
    transform: translateY(-2px); 
  }
  
  .hero-container button:active {
    background-color: #ead5ff;
    /* background-color: #00408b; */
    transform: translateY(1px); 
  }  
  
  .hero-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1;
  }
  
  @media screen and (max-width: 768px){
    .hero-container h1 {
        font-size: 3rem;
    }
    .hero-container button {
        font-size: 1rem;
    }
  }

  .subject-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Adjust as needed for spacing */
    /* margin-bottom: 20px; */
    margin-top: 2%;
  }
  
  .subject-button {
    display: flex;
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
    font-size: 1.2rem; /* Adjust as needed */
    font-weight: bold; /* Make the text bold */
    text-transform: uppercase; /* Uppercase the button text */
    padding: 15px 30px; /* Adjust padding as needed */
    width: 200px; /* Set a fixed width for all buttons */
    height: 100px; /* Set a fixed height for all buttons */
    color: #FFF;
    background-size: cover; /* Ensure the background covers the button */
    background-position: center; /* Center the background image */
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
    text-decoration: none; /* Remove underline from links */
  }
  
  /* Individual background images for each subject */
/*  .ib-maths {
    background-image: url('C:\Dev\Code\stem-tutoring-website\src\components\images\math.png'); 
  }
  
  .ib-biology {
    background-image: url('C:\Dev\Code\stem-tutoring-website\src\components\images\biology.png');
  }
  
  .ib-chemistry {
    background-image: url('C:\Dev\Code\stem-tutoring-website\src\components\images\chemistry.png');
  }
  
  .ib-physics {
    background-image: url('C:\Dev\Code\stem-tutoring-website\src\components\images\physics.png');
  }
*/
  
  /* Hover and active states for buttons */
  .subject-button:hover, .subject-button:active {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .subject-button:active {
    transform: translateY(1px);
  }
  
  /* Responsive adjustments for smaller screens */
  @media screen and (max-width: 768px) {
    .hero-container h1 {
      font-size: 2.5rem;
    }
  
    .subject-button {
      font-size: 1rem;
      padding: 10px;
      width: 150px; /* Adjust width for smaller screens */
      height: 80px; /* Adjust height for smaller screens */
    }
  }
  
